        <!-- Start partner ===================================-->
        <section class="full-page pd-0 clearfix" id="partner">
            <div class="portfolio">
                <div class="container-fluid">
                    <div class="portfolio-wrapper text-center">
                        <div class="section-title">
                            <div class="border-center"></div>
                            <h2>official partner</h2>
                            <div class="border-center"></div>
                        </div>
                        <div class="portfolio-filters button-group">
                            <button type="button" class="button is-checked" data-filter="*">all</button>
                            <button type="button" class="button" data-filter=".itsecurity">it security</button>
                            <button type="button" class="button" data-filter=".developement">web developement</button>
                            <button type="button" class="button" data-filter=".graphicdesign">graphic design</button>
                        </div>
                        <div class="portfolio-grid row">
                            <div class="portfolio-item itsecurity">
                                <div class="portflio-item-wrap  wow fadeIn">
                                    <a href="https://liasoft.de" target="_blank">
                                        <img src="{{site.baseurl}}/assets/images/liasoft-logo-2.png" alt="partner image"/>
                                        <!--<div class="partner-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" partner image hover"/></div>-->
                                    </a>
                                </div>
                            </div>
                            <!--<div class="portfolio-item developement">
                                <div class="portflio-item-wrap  wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/partner-img2.jpg" target="_blank">
                                        <img src="{{site.baseurl}}/assets/images/partner-img2.jpg" alt="partner image" />
                                        <div class="partner-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" partner image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-item graphicdesign">
                                <div class="portflio-item-wrap  wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/partner-img3.jpg" target="_blank">
                                        <img src="{{site.baseurl}}/assets/images/partner-img3.jpg" alt="partner image" />
                                        <div class="partner-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" partner image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-item developement">
                                <div class="portflio-item-wrap  wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/partner-img4.jpg" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/partner-img4.jpg" alt="partner image" />
                                        <div class="partner-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" partner image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            <div class="partner-item workshops">
                                <div class="portflio-item-wrap  wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/partner-img5.jpg" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/partner-img5.jpg" alt="partner image" />
                                        <div class="partner-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" partner image hover"/></div>
                                    </a>
                                </div>
                            </div>
							<div class="partner-item developement">
                                <div class="portflio-item-wrap  wow fadeIn">
                                    <a href="{{site.baseurl}}/assets/images/partner-img.jpg" data-lightbox="roadtrip">
                                        <img src="{{site.baseurl}}/assets/images/partner-img.jpg" alt="partner image" />
                                        <div class="partner-overlay"><img src="{{site.baseurl}}/assets/images/portflio-image-hover.png" alt=" partner image hover"/></div>
                                    </a>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End partner ==================-->